:root {
  --bg: #171717;
  --text: #f6f6f6;
  --paragraph: #888888;
  --primary: #3f83f8;
  --border: #27272a;
  --bg-card: #202020;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  color: var(--paragraph);
  font-size: clamp(1rem, 2vw, 1.25rem);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  margin-top: 30px;
}

.main-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.container {
  width: min(100% - 4rem, 700px);
  margin-inline: auto;
}

header {
  margin-top: 60px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links li a:hover {
  color: #b5b5b5;
}

nav img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-image {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.profile-image h1 {
  font-size: clamp(2rem, 5vw, 3rem);
}

.title-verification {
  display: flex;
  align-items: center;
  gap: 10px;
}
.title-verification img {
  width: 20px;
  height: 20px;
}

.header-text {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h2 {
  color: #efeff1;
  font-size: clamp(1.5rem, 5vw, 2rem);
}

.about-me span {
  color: var(--text);
  font-weight: bold;
}

.location {
  display: flex;
  align-items: center;
  gap: 1px;
  margin-left: -5px;
}

.location img {
  width: 20px;
  height: 20px;
}

.btn-primary {
  background-color: var(--primary);
  width: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: bold;
  transition: all 0.3s;
  color: var(--text);
}

.btn-primary:hover {
  filter: brightness(0.8);
}

.skills {
  margin-top: 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.skills span {
  color: var(--text);
}

.skills p {
  font-size: 1rem;
  display: grid;
  gap: 10px;
  grid-template-rows: auto 1fr;
}

.skills li {
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cards-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.card {
  transition: all 0.3s;
}

.cards-container:hover .card {
  opacity: 0.2;
}

.cards-container .card:hover {
  opacity: 1;
}

.cards-container h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cards-container h4 {
  color: var(--primary);
  margin-bottom: 10px;
}

.cards-container p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.cards-container ul {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  width: 300px;
  gap: 10px;
}

.cards-container li {
  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--paragraph);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-links {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.social-links li {
  background-color: var(--bg-card);
  border-radius: 5px;
  padding: 15px 10px;
}

.social-links img {
  width: 20px;
  height: 20px;
}

.social-links a {
  display: flex;
  align-items: center;
  color: var(--paragraph);

  gap: 10px;

  transition: all 0.3s;
}

.social-links a:hover {
  color: var(--primary);
}

footer {
  margin-top: 100px;
  text-align: center;
  color: var(--text);
}

.footer-text {
  font-size: 1rem;
  margin-bottom: 10px;
}

.footer-text span {
  color: var(--text);
  font-weight: bold;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.footer-links a {
  color: var(--paragraph);
}

.footer-links a:hover {
  color: var(--primary);
}
